.login-page-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FBFADA;
  color: #12372A;
}

.login-button {
  background-color: #12372A;
  color: #FBFADA;
  border: 2px solid #12372A;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 25px;
  font-size: 1.5em;
  cursor: pointer;
}

.login-button:hover {
  background-color: #ADBC9F;
  color: #12372A
}