.input-page-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100vh;
  background-color: #FBFADA;
}

.input-state-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-self: center;
  align-items: center;
  text-align: center;
}

.input-playlist-photo {
  width: 150px;
  height: 150px;
  /* padding: 15px; */
  object-fit: cover;
}

.playlist-tracks-container {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-self: center;
  background-color: #12372A;
  border-radius: 3px;
}

.tracks-container {
  align-items: flex-start;
  overflow-y: auto; /* vertical scroll if content overflows */
  height: 90vh;
}